#root {
  height: 100vh;
  width: 100%;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 1.2rem;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.hero-section {
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-entry {
  padding: 1rem 0;
  color: var(--color-tint-plus-primary)
}

.hero-text {
  font-size: 80px;
  font-weight: bold;
  padding: 1rem 0;
}

.hero-text-primary {
  line-height: 1;
  padding: .5rem 0;
}

.hero-text-secondary {
  line-height: 1;
  opacity: 0.9;
}

.hero-centroid {
  color: var(--color-secondary);
}

/* .hero-text-secondary .hero-centroid {
  color: var(--color-tint-plus-primary)
} */

.hero-body {
  opacity: 0.7;
  max-width: 600px;
}

.hero-action-primary {
  background-color: transparent;
  border-radius: 5px;
  border-color: var(--color-secondary);
  font-weight: bold;
  color: var(--color-secondary);
}

.hero-action {
  margin-top: .5rem;
}

.hero-action-primary:hover {
  background-color: var(--color-secondary);
  color: var(--color-background);
}

.hero-action-secondary {
  background-color: transparent;
  border-radius: 5px;
  border-color: var(--color-primary);
  font-weight: bold;
  opacity: 0.7;
  margin: 0 2rem;
  color: var(--color-primary)
}

.hero-action-secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.hero-contacts {
  width: fit-content;
  padding: 1rem 0;
}

.hero-contacts .icons {
  display: flex;
}

.hero-contacts .url {
  display: flex;
}

.contact-copy {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0.7;
}
.contact-copy:hover {
  opacity: 1;
}

.hero-contacts .contact{
  cursor: pointer;
  padding-right: .5rem;
  padding-top: .5rem;
  margin-right: .5rem;
  margin-top: .5rem;
}

.contact svg{
  opacity: .7;
}
.contact:hover svg{
  opacity: 1;
}

.contact-value {
  padding: .5rem;
  padding-left: 0;
  opacity: .7;
}

.projects {
  box-sizing: border-box;
  padding: 3rem 1rem;
}

.projects .header{
  font-size: larger;
  font-weight: bold;
  padding: 1rem 1rem;

}

.projects .pic {
  flex-shrink: 0;
  padding: .5rem;
  position: relative;
  width: 150px;
  height: 100px;
  background-blend-mode: overlay;
}

.list img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project .pic::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: color-mix(in srgb, var(--color-background), transparent 90%);
  mix-blend-mode: multiply;
  z-index: 1;
}

.list .main {
  display: flex;
}

.project {
  position: relative;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
  max-width: 700px;
  transition: all .3s ease-in-out;
}

.project:hover::after, .project.active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: color-mix(in srgb, var(--color-text), transparent 97%);
    z-index: 1;
}

.project:hover, .project.active {
  box-shadow: 0 0 8px color-mix(in srgb, var(--color-text), transparent 90%) inset;
}

.project:hover .title, .project.active .title {
  color: var(--color-tint-plus-primary);
}

.project:hover .description, .project.active .description {
  opacity: 1;
}

.project .detail {
  padding: 0 2rem;
}

.project .description {
  padding: .5rem 0;
}

.technologies{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.project .title {
  font-size: large;
  font-weight: bold;
  color: var(--color-text);
}

.project .description {
  opacity: 0.7;
}

.tag {
  line-height: 1;
  border-radius: 20px;
  background-color: color-mix(in srgb, var(--color-secondary), transparent 90%);
  padding: 0.5rem 0.7rem;
  margin: 0.2rem;
  color: var(--color-tint-plus-secondary);
  font-size: small;
  font-weight: bold;
}

@media (max-width: 800px) {
  .ss-section > div {
    padding: 0 2rem;
    margin-top: 4rem;
  }

  .project .pic {
    width: 110px;
    height: 70px;
  }

  .project .detail {
    padding: 0 1rem;
  }
}

@media (max-width: 500px) {
  .hero-text {
    font-size: 60px;
  }

  .photo-about {
    padding: 0 !important;
  }
  
  .project {
    padding-left: 0rem;
  }
  .list .detail {
    padding-right: 0;
  }
  .list .pic {
    padding-left: 0;
    padding-right: 0;
    margin-top: .5rem;
  }
}

@media (min-width: 1100px) {
  .list-detail {
    display: flex;
    justify-content: space-between;
  }
  .list {
    max-width: 450px;
    max-height: 500px;
    overflow: scroll;
    margin: 1rem;
  }
  .list-detail .mid-detail {
    max-height: 500px;
    overflow: scroll;
    display: flex !important;
  }
  .project .pic, .project .technologies {
    display: none;
  }
  .project .detail {
    padding: .5rem;
  }
  .projects {
    padding-right: 3rem;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
